body {
  text-align: center;
  font-family: "Spade", monospace;
  background-color: #dbf3fa;
  color: #522d80;
}

h1 {
  color: #522d80;
  margin: 0 auto;
  font-family: "Major Mono Display", monospace;
  font-size: 64px;
  margin: 2%;
}


h2 {
  color: #6593f5;
  font-family: "Spade", monospace;
  font-weight: lighter;
  font-size: 48px;
  margin: 2%;
}

h3 {
  color: #f25278;
  font-family: "Spade", monospace;
  font-size: 36px;
  font-weight: lighter;
}
h4 {
  color: #9172ec;
  font-family: "Spade", monospace;
  font-size: 28px;
  font-weight: lighter;
}
ul {
  color: #522d80;
  font-size: 24px;
  font-family: "Spade", monospace;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.small-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.column {
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
  height: 474px;
  width: 474px;
}

.square {
  border: 1px solid white;
  height: 156px;
  user-select: none;
  width: 156px;
  font-size: 96px;
  line-height: 150px;
}

.small-square {
  border: 1px solid red;
  height: 50px;
  user-select: none;
  width: 50px;
  font-size: 40px;
  line-height: 50px;
}

.square:hover {
  background-color: #b19cd9;
  cursor: pointer;
}

#reset-button {
  background-color: #b19cd9;
  border: 2px solid black;
  color: black;
  font-size: 46px;
  line-height: 55px;
  margin: 1%;
  text-align: center;
  width: 456px;
  margin-bottom: 0;
}


#reset-button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}



*, *:before, *:after {
    -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.game {
    width: 450px;
    height: 450px;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
}

@media screen and (max-width: 500px) {
    .game {
        width: 315px;
        height: 315px;
    }
}

.game:after {
    content: "";
    display: table;
    clear: both;
}

.area {
    float: left;
    width: 33.333%;
    height: 33.333%;
    padding: 1%;
}

.area:nth-child(3n+1),
.area:nth-child(3n+2) {
    border-right: 3px solid #444;
}
/*
.area:nth-child(n+4) {
    border-top: 3px solid #444;
}

.area:after {
    content: "";
    display: table;
    clear: both;
}


.tile {
    float: left;
    width: 33.333%;
    height: 33.333%;
    padding: 1%;
}

.tile-button {
    width: 100%;
    height: 100%;
    padding: 0;
    cursor: pointer;
    vertical-align: middle;

    border: 1px solid gray;
    border-radius: 3px;
    background-color: #b19cd9;
}

.tile-button:hover,
.tile-button:focus {
    border-color: #444;
    background-color: #b19cd9;
}
*/
